fastapi
uvicorn
pymongo[srv]
motor
jinja2
python-multipart
scikit-learn
pandas
numpy
textblob
fpdf
transformers
passlib[bcrypt]
bcrypt==4.0.1
torch --extra-index-url https://download.pytorch.org/whl/cpu
